@model IEnumerable<AdministracionCampeonatosQuimera.Models.Campeonato>

@{
    ViewData["Title"] = "campeonatos";
}

<h1>Lista de campeonatos</h1>

<p>
    <a asp-action="Create">Crear nuevo campeonato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantEquipos)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRealizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantEquipos)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRealizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
