@model AdministracionCampeonatosQuimera.Models.Campeonato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campeonato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantEquipos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantEquipos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRealizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRealizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
