@model AdministracionCampeonatosQuimera.Models.Campeonato

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Campeonato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantEquipos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantEquipos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRealizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRealizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
<head>
    <link href="~/css/styles2.css" rel="stylesheet" />
</head>
